/* dark.css */

.root {
    -bg : #2C2C2C;
    -fg : #E0E0E0;
    -dg : #3D3D3D;

    -fx-background-color: -bg;
    -fx-text-base-color: -fg;

    -hover-bg: rgba(255,255,255,0.1);
    -track-bg: #E0E0E0;
    -thumb-color: #A9FA9E;
}

.content-viewer{
    -fx-background-color: -bg;
    -fx-text-base-color: -fg;
}

.button {
    -fx-text-fill: -bg;
}

.text-field {
    -fx-background-color: -dg;
    -fx-border-color: #AAAAFB;
    -fx-text-fill: -fg;
}

.tab-pane {
    -fx-background-color: -bg;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: -dg;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #AAAAFB;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill: -fg;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: -bg;
}

.split-pane {
    -fx-background-color: -bg;
}

.split-pane-divider {
    -fx-background-color: -dg;
}

.text-area {
    -fx-background-color: -dg;
    -fx-border-color: #AAAAFB;
    -fx-text-fill: -fg;
}

.text-area .content {
    -fx-background-color: -dg;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: -dg;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #AAAAFB;
}

.label {
    -fx-text-fill: -fg;
}

.radio-button .radio {
    -fx-background-color: -dg;
    -fx-border-color: #AAAAFB;
}

.check-box .box {
    -fx-background-color: -dg;
    -fx-border-color: #AAAAFB;
}

.progress-bar > .track {
    -fx-background-color: -dg;
}

.menu-bar {
    -fx-background-color: -dg;
}

.menu-bar .label {
    -fx-text-fill: -fg;
}

.menu-item {
    -fx-background-color: -bg;
}

.menu-item:hover {
    -fx-background-color: #A1F2FE;
}

.menu-item .label {
    -fx-text-fill: -fg;
}

.combo-box {
    -fx-background-color: -dg;
    -fx-border-color: #AAAAFB;
}

.combo-box .arrow-button {
    -fx-background-color: #AAAAFB;
}

.combo-box .arrow {
    -fx-background-color: -bg;
}

.list-view {
    -fx-background-color: -dg;
    -fx-border-color: #AAAAFB;
}

.list-cell {
    -fx-background-color: -dg;
    -fx-text-fill: -fg;
}

.list-cell:even {
    -fx-background-color: #333333;
}

.list-cell:odd {
    -fx-background-color: -dg;
}

.list-cell:selected {
    -fx-background-color: #A1F2FE;
    -fx-text-fill: -bg;
}

.tree-view {
    -fx-background-color: -dg;
    -fx-border-color: #AAAAFB;
}

.tree-cell {
    -fx-background-color: -dg;
    -fx-text-fill: -fg;
}

.tree-cell:selected {
    -fx-background-color: #A1F2FE;
    -fx-text-fill: -bg;
}

.toggle-button {
    -fx-text-fill: -bg;
}

.toggle-button:selected {
    -fx-text-fill: -bg;
}


.content-area {
    -fx-background-color: #232323;
}

.scroll-pane {
    -fx-text-fill: -fg;
}

.scroll-pane {
    -fx-background-color: #232323;
}

.tree-view .tree-disclosure-node .arrow {
    -fx-background-color: white;
}

.tree-view:focused .tree-cell:filled:selected .tree-disclosure-node .arrow {
    -fx-background-color: -bg;
}

.image-view {
    -fx-background-color: -bg;
    -fx-text-fill: -fg;
}